body {
    font-family: Arial, sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}