<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu d'échecs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
    <h1>Jeu d'échecs</h1>
    <canvas id="chessboard" width="480" height="480"></canvas>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>